.cv-main{
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px;
    padding-bottom: 0;
}

.cv-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84b6f4;
    padding: 10px;
}

.cv-personal-info{
    
}

.cv-personal-text{
    margin: 15px;
}

.cv-title{
    padding-left: 20px;
    background-color: #84b6f4;
    width: 60%;
}

.cv-studies{
    display: flex;
}

.cv-studies-text{
    display: flex;
    flex-direction: column;
}

.date{
    margin-right: 20px;
}